.Inputform {
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
    position: relative;
}
input {
padding: 10px;
margin:10px 0px;
border-radius: 10px;
outline:none;
background-color: #f5f8fa;
color:#5e6278;
border:3px solid #5e6278;
box-shadow: 6px 6px 6px 6px #1b3b39;
width: 330px;
}
label {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}
span {
    color:red;
    font-size: 12px;
    padding:3px;
    visibility: hidden;
}
input:invalid[focus = "true"] {
    border: 3px solid  #e74c3c;
}
input:focus{
    border: 3px solid rgb(47, 35, 77);
}
input:valid{
    border: 3px solid #2ecc71;
}
input.birthday-signup{
    border: 3px solid gray;
}
div[id = "111"]            /* div for marign top of username */
{
    margin-top: 20px;
}
 div[id = "114"] , div[id = "115"]   /* div for female and male */
{
    width: 100px;
    display: inline-block;
   bottom: 100px;
    left:450px;
}
div[id = "1145"]{                  /* Gender label */
    float: right;
    bottom: 80px;
    left:373px;

}
div[id = "113"] {                   /* Email */
    float:right;
    bottom: 219px;
    left:27px;
}
div[id = "116"]                     /* birthday */
{
    float: right;
    bottom: 140px;
    left:27px;
}
div[id = "117"]                     /* password */
{
    bottom: 138px;
    margin-bottom: 20px;         
}
div[id = "118"]                   /* confirm Password */
{
    bottom: 138px;
}
.female-signup , .male-signup
{
 display:inline-block;
 margin-left: 20px; 
 margin-bottom:20px;
 font-size: 15px;
 box-shadow:none;
 width: 80px;
 margin: 3px;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
input.gender-signup{
    display:none;
}
label.gender-signup{
    text-align: center;
    background-color: #1c5e59;
    width: 330px;
    border-radius: 5px;
    padding:5px;
    font-size: 20px;
    box-shadow: 6px 6px 6px 6px #1b3b39;
}
i{
    visibility:hidden;
    position: absolute;
    top:45px;
    left:327px;
}
span{
    position: absolute;
    top:80px;
}

i[id = "1145"] , i[id = "114"] , i[id = "115"] , i[id = "116"] {
    display:none;
}

i.fa-check-circle{
color:green;
}
i.fa-exclamation-circle{
color:red;
}
input:invalid[focus = "true"] ~ span ,
input:invalid[focus = "true"] ~ i.fa-exclamation-circle 
,input:valid ~ i.fa-check-circle
 {
    visibility:visible;
}
