.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(221, 221, 221);
}
.container {
  display: grid;
  grid-auto-flow: column dense;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 2.1fr 0.4fr;
  grid-template-rows: 0.15fr 2.25fr 1.5fr 0.9fr 0.2fr;
  gap: 3px 5px;
  grid-template-areas:
    "NavLayout NavLayout NavLayout"
    "SideLayout MainLayout MainLayout"
    "SideLayout MainLayout MainLayout"
    "SideLayout MainLayout MainLayout"
    "SideLayout MainLayout MainLayout";
  justify-items: stretch;
}
.NavLayout {
  background-color: #ffffff;
  justify-self: stretch;
  align-self: stretch;
  grid-area: NavLayout;
}
.SideLayout {
  background-color: #d8d8d8;
  padding: 1.5em 2rem;
  font-size: 18px;
  justify-self: stretch;
  align-self: stretch;
  grid-area: SideLayout;
}
.MainLayout {
  background-color: #FEEFEC;
  padding: 1.5em 2rem;
  justify-self: stretch;
  align-self: stretch;
  grid-area: MainLayout;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
